@mixin span-text {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@mixin secondary-navbar {
    color: #fff;
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
  
    .heading-2 {
      font-size: 48px;
    }
    .navbar-fixed {
      position: fixed;
      top: 0;
       nav {
        height: 75px;
        transition: all .4s ease-in-out;
        display: flex;
        align-items: center;
  
      .brand-logo {
        img {
        width: 120px;
        height: 30px;
        vertical-align: middle;
        }
      }
  
      a {
        text-transform: capitalize !important;
      }
  
      .btn {
        margin: 0 3px !important;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
      }
  
      .dropdown-content li>a {
        font-weight: 500;
        color: $darkgrey-color;
      }
      .dropdown-content {
        width: auto !important;
        height: auto !important;
        top: 58px !important;
      }
    }
  
    .btn.btn-outline {
      border-color: #fff;
      color: #fff;
  
      &.nav-btn:hover {
        border-color: #5ed16f !important;
       }
      }
    }
  
      .breadcrumb {
        font-weight: 700;
        font-size: 16px;
        &:before {
          vertical-align: middle;
        }
      }
  }