#navbar {
transition: all .3s ease-in-out;
z-index: 1000;
position: relative;

  nav {
    display: flex;
    align-items: center;
    height: 70px;
    background: #fff !important;

      .btn {
        margin: 0 3px !important;
        font-weight: 500;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
      }

      a {
        text-transform: capitalize !important;
      }
  }
  img {
    width: 120px;
    height: 30px;
  }
}