#navbar {
transition: all .3s ease-in-out;
z-index: 1000;
position: relative;

  nav {
    height: 70px;
    background: #fff !important;

      .btn {
        margin: 0 3px !important;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 15px;
      }
  }
  img {
    width: 120px;
    height: 30px;
  }
}