// Colors
$nav-color: #3a3a3a;
$heading-color: #444964;
$grey-color: #666666;
$lightgrey-color: #888888;
$darkgrey-color: #333333;
$green-color: #48af4b;
$section-bg: #f8f9fb;


// Text colors
.steelblue-text {
  color: #444964 !important;
}

.grey-text {
  color: #666666 !important
}

.lightgrey-text {
  color: #888888 !important
}

.darkgrey-text {
  color: #333 !important;
}

.green-text {
  color: #48af4b !important;
}

.light-text {
  color: #aaaaaa;
}

// Margin & Padding
$spaceamounts: (0, 1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem !important;
  }

  // Bottom margin
  .mb-#{$space} {
    margin-bottom: #{$space}rem !important;
  }

  // Top margin
  .mt-#{$space} {
    margin-top: #{$space}rem !important;
  }

  // Right margin
  .mr-#{$space} {
    margin-right: #{$space}rem !important;
  }

  // Left margin
  .ml-#{$space} {
    margin-left: #{$space}rem !important;
  }

  // Horizontal margin
  .mx-#{$space} {
    margin: 0 #{$space}rem !important;
  }

  // Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0 !important;
  }
  

  // All around padding
  .p-#{$space} {
    padding: #{$space}rem !important;
  }

  // Top padding
  .pt-#{$space} {
    padding-top: #{$space}rem !important;
  }

  // Padding bottom
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }

  // Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }

   // Padding left
   .pl-#{$space} {
    padding-left: #{$space}rem !important;
  }

  // Padding right
  .pr-#{$space} {
    padding-right: #{$space}rem !important;
  }

  // Horizontal padding
  .px-#{$space} {
    padding-left: #{$space}rem !important;
    padding-right: #{$space}rem !important;
  }

  // Side padding
  .ps-10 {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .ps-5 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

// Body
.custom-container {
  max-width: 1140px;
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.transition {
  transition: all .3s ease-in-out;
}

.shadow {
box-shadow: 0 2px 3px rgba(96,96,96,.1) !important;
transition: all .4s ease-in-out;
}

.colored-nav {
  background-color: #fff;
  transition: all .4s ease-in-out;
}

// Buttons 
.btn {
    box-shadow: none !important;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .25px;
    text-transform: uppercase;
    padding: .925rem 1.65rem;
    border: 2px solid transparent;
  transition: all .3s ease-in-out;
  height: auto;

  &.btn-outline {
    background: transparent;
    border-color:#333;

    &:hover {
      background: #5ed16f;
      color: #fff !important;
      border-color: transparent;
    }
  }

  &:hover {
    // background: #eeeeee38;
    background: #eeeeee;
  }

  &.btn-success {
    background: #5ed16f;
    color: #fff;
    &:hover {
    background: #333;      
    }
  }
}

.medium {
  padding: 16.3px 26px;
  height: auto;
}

// Typography
.flow-text {
  font-size: 18px !important
}

.span-text {
  font-size: 14px;
  font-weight: 300;
}

.font-weight {
  &-light {
    font-weight: 300 !important;
  }
  &-normal {
    font-weight: 500 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
}

.heading {
  &-1 {
    font-size: 3.6rem;
    color: $heading-color;
    font-weight: 600 !important;
    line-height: 50px;
  }
  &-2 {
    font-size: 42px;
    color: $heading-color;
    font-weight: 600 !important;
    line-height: 50px;
  }
  &-3 {
    font-size: 38px;
    color: $heading-color;
    font-weight: 600 !important;
  }
  &-4 {
    font-size: 26px;
    color: $heading-color;
    font-weight: 600 !important;
  }
  &-5 {
    font-size: 19px;
    color: $heading-color;
    font-weight: 600 !important;
  }
}

.text{
  &-uppercase {
    text-transform: uppercase !important;
  }
  &-capitalize {
    text-transform: capitalize !important;
  }
  &-justify {
    text-align: justify;
  }
}

// Display
.d-flex {
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.d {
  &-inline {
  display: inline-block;
  }
  &-block {
  display: block;
  }
}

// Forms
.input, .textarea {
  background-color: rgb(255, 255, 255) !important;
  color: $darkgrey-color !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  box-shadow: none !important;
  border: 1px solid rgb(204, 204, 204) !important;
  padding: 2px 15px !important;
  border-radius: 2px !important;
  transition: all 400ms ease-in-out 0s !important;
  display: inline-block !important;
  margin-right: 6px !important;
  box-sizing: border-box !important;

  &::placeholder {
    color: $grey-color;
  }
}

.textarea {
  height: auto !important;
}

input, textarea {
  margin: 0 !important;
  
  &:focus {
    background-color: #f7f7f7 !important;
  }
}
