@import 'utilities';
@import 'mixins';
// Main Page
@import './Home/navbar';
@import './Home/showcase';
@import './Home/features';
@import './Home/pricing';
@import './Home/how-it-works';
@import './Home/statistics';
@import './Home/testimonials';
@import './Home/faq';
@import './Home/cta';
@import './Home/blog';
@import './Home/contact';
// About Page
@import './About/about-page';
@import './About/about-features';
@import './About/about-team';
@import './About/about-partners';
@import './About/about-testimonials';
// Blog Page
@import './Blog/blog-page';
@import './Blog/blog-features';
@import './Blog/blog-cta';
// Single-Post Page
@import './SinglePost/single-post';
@import './SinglePost/single-post-showcase';
@import './SinglePost/single-post-share';
@import './SinglePost/single-post-related';
@import './SinglePost/single-post-comments';
@import './SinglePost/single-post-cta';
// Contact Page
@import './Contact/contact-page';
// Clients Page
@import './Clients/clients-page';
@import './Clients/clients-companies';
@import './Clients/clients-testimonials';
// Pricing Plan Page
@import './Pricing/pricing-plan-page';
@import 'footer';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500 !important;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}

p {
  font-size: 16px;
  margin-bottom: .5rem;
  line-height: 1.6;
  font-weight: 300;
  // font-family: 'Roboto', sans-serif;
}

#backToTop {
    display: block;
    width: 40px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 4px;
    background: #232323a6 url(/img/back-to-top.png) no-repeat;
    background-position: 50% 48%;
    transition: all 250ms linear;
    z-index: 1000;

}

blockquote {
  border-left: 3px solid #48af4b !important;
}

nav {
  background: transparent;
}