@media (max-width: 992px) {
  // Utilities
  .heading-1 {
    font-size: 2.5rem !important;
    letter-spacing: -1px;
    line-height: 40px;
  }
  .heading-2 {
    font-size: 2.3rem !important;
    line-height: 30px;
    letter-spacing: -1px;
  }
  .flow-text {
    font-size: 16px !important;
  }
  p {
    font-size: 15px;
  }
  

  // HOME PAGE =========================
  .showcase {
    p {
      margin-bottom: 0rem !important;
    }
    
    .d-flex.mb-2 {
      margin-bottom: 1rem !important;
    }

    .btn {
      width: 100%;
    }

    .d-flex {
      display: block !important;
    }

    .input-field {
      width: 99%;

      .input {
      text-align: center;
      padding: 0 !important;
      margin: 0 !important;
      }
    }
  }
  
  // Features
  #features {
    .mb-3 {
      margin-bottom: unset !important;
    }
    .box {
      text-align: center;

      img {
        float: none;
      }
    }

    &-4 {
      .img-content {
        left: 0;
        img {
          max-width: 100%;
        }
      }
    }
  }

  // Testimonials
  #testimonials {
    .text-content {
      text-align: center;

      p {
        padding: 0 10%;
      }
    }

    h2 {
      margin: 1rem 0 !important;
    }
  }

  // ABOUT PAGE ====================================
  #about {
    .heading-2 {
      font-size: 2.2rem;
    }

    a.breadcrumb {
      font-size: 1.1rem;
    }
  }

  #about-features-2 {
    .box {
      text-align: center;
      img {
        float: none;
      }
    }
  }

  // SINGLE POST PAGE
  #single-post-showcase {
    .author {
      .heading-3 {
        font-size: 26px !important;
      }
    }
  }

}

@media (max-width: 760px) {
  // Utilities
  .heading {
    font-size: 12px !important;
  }
  h2 {
    margin-top: initial
  }
  .heading-2 {
    font-size: 26px !important;
  }

  // HOME PAGE ==============================
  .showcase {
    .text-content {
      text-align: center;
      padding: 0 10%;
    }
  }

  #cta .btn.white {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  // Features, Pricing, Statistics, FAQs, CTA, Blog, Contact
  // #features, #pricing, #statistics, #faq, #cta, #blog, #contact {
    p.ps-10 {
      padding: 0 !important;
    }
    .ps-5 {
      padding: 0 !important;
    }
  // }
  // Features-2
  #features-2 {
    .img-content {
      margin-bottom: 2rem;
    }
    .px-2 {
      padding: 0 !important;
    }
  }

  // Testimonials
  #testimonials {
    .text-content {
      p {
        padding: 0;
      }
    }
  }

  // FAQs
  #faq {
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
  }

  // Statistic
  #statistics {
    max-height: 100%;
    padding: 30px 0;

    h5 {
      font-size: 40px !important;
    }
  }

  // Footer
  #footer {
    .text-content {
      h5 {
        margin-bottom: 1rem !important;
      }
    }
  }

  // ABOUT PAGE ===================================
  #about-page {
    padding-bottom: 0;

    .heading-2 {
      font-size: 26px !important;
    }
  }
  #about-features {
    img {
      margin-bottom: 2rem;
    }
    h2 {
      margin: 15px 0 !important;
    }
    .px-2 {
      padding: 0 !important;
    }
  }

  #about-features-2 {
    .offset-l1.mb-4 {
      margin-bottom: 1.5rem !important;
    }
    .box {
      img {
        float: none;
      }
    }
  }

  #about-features-3 {
    .heading-2 {
      font-size: 24px;
      margin: 20px 0 !important;
    }
  }

  #about-features-4 {
    .stat-content {
      h5 {
      font-size: 32px;
      margin-bottom: 8px;
      }
    }
  }

  #about-partners {
    padding: 0 !important;
  }

  // BLOG PAGE ==============================
  #blog-page {
    .blog-showcase {
      .heading-2 {
        font-size: 26px !important;
      }
    }
  }

  #blog-features {
    .card {
      .card-image {
        .btn-floating {
          width: 55px;
          height: 55px;
        }
      }
      .card-content {
        a {
          font-size: 18px;
        }
      }
    }
    .pagination {
      padding-top: 0 !important;
    }
  }

  #blog-aside {
    .pl-4 {
      padding-left: 0 !important;
    }
  }

  // SINGLE POST PAGE
  #single-post-showcase {
    .author {
      .heading-3 {
        font-size: 21px !important;
        padding: 0 5% !important;
      }
     .col:nth-child(2) {
       text-align: center;
     }
    }
  }
  
}


@media (max-width: 575px) {
  // Showcase
  .showcase {
    .hero-img {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  // HOME PAGE = Features-3, ABOUT PAGE = about-features-3
  #features-3, #about-features-3 {
    .text {
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  // Features-5
  #features-5 {
    padding-top: 4rem !important;
    padding-bottom: 2rem !important;
    .px-2 {
      padding: 0 !important;
    }
  }

  // Blog
  #blog {
    .card {
      .card-content {
        p {
          font-size: 14px;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }

  // SINGLE POST PAGE
  #single-post-share {
    
    .related-post {
      text-align: center;

      .pl-2 {
        padding: 0 !important;
      }
      img {
        float: none !important;
        margin: auto;
      }
    }
  }
}
