#pricing {
  background: url(/img/grey-textured.png) no-repeat center center/cover;
  width: 100%;
  background-color: #f8f9fb;
  background-attachment: fixed;

  .card {
    border-top: 7px solid #ddd;

    h5 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .pricing-symbol {
      position: relative;
    top: -10px;
    right: 3px;
    }

    .pricing-amount {
      font-size: 70px;
      font-weight: 600;
    }

    sup {
      font-size: 30px;
      position: relative;
      top: -28px;
      margin-left: 2px;
    }

    .pricing-list {
      li {
        padding: 10px 0;
        font-weight: 400;
        line-height: 1;

        i {
          padding-right: 4px;
        }
      }
    }

    .card-footer {
      .btn {
        height: auto !important;
        display: block;
      }
      .btn-outline:hover {
        color: #fff;
        background-color: #333;
      }
      .btn-success:hover {
        color: #333;
        background-color: #fff !important;
        border-color: #333;
      }
    }
  }

  .card.standart {
    border-top: 7px solid #48af4b;
  }
}