#single-post-page {
  position: relative;
  padding-bottom: 125px;

  .navbar-fixed {
    position: fixed;
    top: 0;
     nav {
      height: 75px;
      transition: all .4s ease-in-out;
      display: flex;
      align-items: center;

    .brand-logo {
      img {
      width: 120px;
      height: 30px;
      vertical-align: middle;
      }
    }

    .nav-links {
      color: $darkgrey-color;
      text-transform: capitalize !important;
    }

    .btn.btn-success {
      margin: 0 3px !important;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      color: #fff;
      }

    .dropdown-content li>a {
      font-weight: 500;
      color: $darkgrey-color;
      }
    .dropdown-content {
      width: auto !important;
      height: auto !important;
      top: 58px !important;
      }

      i {
        font-size: 19.5px;
      }
    }
  }
}
