// Features part 1
#features {

  .col {
    padding: 10px;
  }

  img {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .text-content {
    overflow: hidden;
    padding-left: 20px;
  }
}

// Features part 2
#features-2 {
  background: #f8f9fb;

  span.heading {
    @include span-text
  }
  .text {

    i {
      font-size: 10px;
      color: $lightgrey-color;
      float: left;
      margin-top: 7px;
    }

    .overflow-hidden {
      padding: 0 10px;
    }
  }
}

// Features part 3
#features-3 {

  span.heading {
    @include span-text;
  }

  .avatar-img {
    img {
      @include avatar-img;
    }
  }

  .avatar-author {
    position: relative;
    top: -13px;
    padding-left: 10px;
  }
}

// Features part 4
#features-4 {
  // background: #f8f9fb;

  .img-content {
    position: relative;
    left: -70%;

    img {
      max-width: none;
    }
  }

  .text-content {
    i {
      font-size: 2rem;
    }

    h5 {
      line-height: 2.3rem;
    }
  }
}

// Features part 5
#features-5 {
  
  .img-content img {
    text-align: center;
    margin-right: 25px;
    width: 65px;
    height: 65px;
  }
}