#navbar {
transition: all .3s ease-in-out;
z-index: 50;
position: relative;

  nav {
    display: flex;
    align-items: center;
    height: 70px;
    background: #fff !important;

      .btn {
        margin: 0 3px !important;
        font-weight: 500;
        font-size: 15px;
        display: inline-flex;
        align-items: center;
        padding: 12px 20px;
      }

      a {
        text-transform: capitalize !important;
        color: $darkgrey-color;
      }

      .dropdown-content li>a {
        color: $darkgrey-color;
        font-weight: 500;
      }
      .dropdown-content {
        width: auto !important;
        height: auto !important;
        top: 58px !important;
      }
  }
  img {
    width: 120px;
    height: 30px;
  }

}

// Sidenav
  .sidenav .collapsible-header {
    padding: 0 32px !important;
  }

  #mobile-nav {
    a.btn:hover {
      background-color: #5ed16f !important; 
    }
  }