#clients-page {
  background: url('/img/clients/clients-page.jpg') no-repeat center center/cover;
  @include secondary-navbar;
}

// Section: Clients Companies
#clients-companies {
  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
  .box {
    margin-bottom: 2rem;
    img {
      width: 200px;
      padding: 0 10px;
    }
  }
}

// Section: Clients Testimonials
#clients-testimonials {
  background-color: $section-bg;
  background: url('/img/bottom-clouds.jpg') no-repeat bottom center/cover;

  .d-flex {
    margin-bottom: 8px;

    img {
      @include avatar-img;
    }

    .stars {
      i {
        font-size: 14px;
        color: #ffc832;
        margin-right: 1px;
      }
    }
  }
}