#pricing-plan-page {
  background: url('/img/pricing-plan/pricing-page.jpg') no-repeat center center/cover;
  @include secondary-navbar;
}

// Pricing-Plan Cards
#pricing-plan-cards {
  .card {
    border-top: 7px solid #ddd;

    h5 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .heading-3 {
      color: $darkgrey-color;
    }

    .pricing-symbol {
      position: relative;
    top: -10px;
    right: 3px;
    }

    .pricing-amount {
      font-size: 70px;
      font-weight: 600;
    }

    sup {
      font-size: 30px;
      position: relative;
      top: -28px;
      margin-left: 2px;
    }

    .pricing-list {
      display: inline-block;
      li {
        padding: 10px 0;
        font-weight: 400;
        line-height: 1;

        i {
          padding-right: 4px;
        }
      }
    }

    .card-footer {
      .btn {
        height: auto !important;
        display: block;
      }
      .btn-outline:hover {
        color: #fff;
        background-color: #333;
      }
      .btn-success:hover {
        color: #333;
        background-color: #fff !important;
        border-color: #333;
      }
    }
  }

  .card.standart {
    border-top: 7px solid #48af4b;
  }
}

// Pricing Plan Partners
#pricing-plan-partners {
  background-color: $section-bg;
    .carousel {
      height: 150px;

      .carousel-item {
        display: flex;
        align-items: center;
      }
    }

    img {
      width: 185px;
    }
}

// Pricing Plan Faq
#pricing-plan-faq {
  .question {
    margin-bottom: 1.5rem;
    h5 {
      margin-bottom: 8px;
      color: $darkgrey-color;
    }

    ul {
      margin-bottom: 1rem;
      li {
      padding: 5px;
      list-style: disc;
      margin-left: 12px;
      color: $grey-color; 
      }
    }
  }

  .faq-footer {
    a {
      text-decoration-line: underline;
    }
  }
  
}

// Pricing Plan Cta
#pricing-plan-cta {
    background: url("/img/about/blue-textured.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
  
    .btn.btn-success {
      margin-right: 1rem;
      &:hover {
      background: transparent !important;
      border-color: #fff;
      color: #fff !important;
      }
    }
    .btn-outline {
      border-color: #fff;
      &:hover {
        background: $darkgrey-color !important;
        border-color: $darkgrey-color;
      }
    }
}